.logo img{
width: 60px;
height: 60px;
}
.text a{
text-decoration: none;
color: #5F5C6D;
margin-right: 10px;
}
header{
display: flex;
align-items: center;
gap: 10px;
box-shadow: 2px 2px 2px 2px silver;
}
.prof{
    display: flex;
    align-items: center;
    margin: 10px;
}
.prof2{
position: relative;
left: 1195px;
bottom: 25px;
}
.post{
    position: relative;
    left: 450px;
}
.devise{
position: relative;
left: 100px;
}
.devise2{
position: relative;
left: 1200px;
bottom: 25px;
}
.text{
    margin-left: 100px;
}